/* This makes the card glow when you hover over it */
.humidor-card:hover {
    border-color: #ffbf00 !important;
    background-color: #0a0a0a;
}

/* Fixes for wonky spacing */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ffbf00;
}
